<div>
  <label [formGroup]="parentFormGroup">
    {{label}}
    <input type="text" [formControlName]="controlName" hidden>
    <input type="text" #displayField (input)="onInput()" (blur)="onBlur()">

  </label>
</div>


