
<form [formGroup]="parentFormGroup">
  <app-simple-input [parentFormGroup]="parentFormGroup" [controlName]="'field1a'" [label]="'Pole 1'"></app-simple-input>
  <br/>
  <app-simple-input [parentFormGroup]="parentFormGroup" [controlName]="'field2a'" [label]="'Pole 2'"></app-simple-input>
  <br/>
  <app-simple-input [parentFormGroup]="parentFormGroup" [controlName]="'field3a'" [label]="'Pole 3'"></app-simple-input>
  <br/>
  <button (click)="setValueFromSecondControl()">get value from field2 and set to field1</button>
  <br/>
  <br/>
  <app-simple-input [parentFormGroup]="parentFormGroup" [controlName]="'field1b'" [label]="'Tu trafi wartość z pola 1'"></app-simple-input>
  <br/>
  <app-simple-input [parentFormGroup]="parentFormGroup" [controlName]="'field2b'" [label]="'Tu trafi wartość z pola 2'"></app-simple-input>
  <br/>
  <app-simple-input [parentFormGroup]="parentFormGroup" [controlName]="'field3b'" [label]="'Tu trafi wartość z pola 3'"></app-simple-input>
</form>
<router-outlet></router-outlet>
